In [15]:
import pandas as pd
import os

In [16]:
# Check if folder exists

adam_folder = os.path.exists('/Users/adamelder/')
folder_to_use = "/Users/adamelder/" if adam_folder else '/Users/kaitlinsinger/wa_notify/'
df = pd.read_csv(folder_to_use + 'DEN_future/data_extraction/output/combined_data.csv')

In [17]:
# any addt cleaning here
df['param_name'] = df['param_name'].str.replace('case', 'cases')
df['param_name'] = df['param_name'].str.replace('casess', 'cases')
df['param_name'] = df['param_name'].str.replace('contact', 'contacts')
df['param_name'] = df['param_name'].str.replace('contactss', 'contacts')
df['param_name'] = df['param_name'].str.replace('total', 'count')
df['param_name'] = df['param_name'].str.replace('avg', 'mean')
df['param_name'] = df['param_name'].str.replace('median', 'med')

In [18]:
df['param_name']

0                         hr_hours
1             cases_assigned_count
2              cases_reached_count
3             contacts_named_count
4           contacts_reached_count
                   ...
1222    cases_named_contacts_count
1223    cases_named_contacts_count
1224      self_report_codes_issued
1225        contacts_reached_count
1226        contacts_reached_count
Name: param_name, Length: 1227, dtype: object

In [19]:
# Reshape so each source has multiple rows with separate columns for parameters and dates
df_wide_no_dates = df.pivot_table(index="source", columns="param_name", values="param_value", 
                                  aggfunc="first").reset_index()
df_wide_dates = df.pivot_table(index=["source", "pm_start_date", "pm_end_date"], 
                    columns="param_name", values="param_value", aggfunc="first").reset_index()
df_wide_dates_loc = df.pivot_table(index=["source", "pm_start_date", "pm_end_date", "pm_location"], 
                    columns="param_name", values="param_value").reset_index()

In [20]:
df_wide_dates.head()

param_name,source,pm_start_date,pm_end_date,cases_assigned_count,cases_interviewed_count,cases_interviewed_perc,cases_named_contacts_count,cases_not_assigned_count,cases_per_staff_month,cases_positive_from_test_mean,...,percent_naming_contacts,quarantine_adherent_perc,self_report_codes_issued,staff_hired_ci_count,staff_hired_ci_per_health_dept_mean,staff_hired_count,staff_hired_ct_count,staff_hired_ct_per_health_dept_mean,user_cases_notifying,users_with_code
0,A Multifaceted Evaluation of a COVID-19 Contac...,03/01/2021,03/31/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A Multifaceted Evaluation of a COVID-19 Contac...,04/01/2021,06/30/2020,NaN,NaN,76.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A Multifaceted Evaluation of a COVID-19 Contac...,07/01/2020,06/30/2021,52317.0,42900.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A Multifaceted Evaluation of a COVID-19 Contac...,07/01/2020,09/30/2020,NaN,NaN,87.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A Patient-Initiated Digital COVID-19 Contact N...,05/18/2020,08/17/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:

df_wide_no_dates.to_csv(folder_to_use + 'DEN_future/data_extraction/manipulated_data/simplified_wide_df.csv')
df_wide_dates.to_csv(folder_to_use + 'DEN_future/data_extraction/manipulated_data/simplified_wide_df_with_date.csv')
df_wide_dates_loc.to_csv(folder_to_use + 'DEN_future/data_extraction/manipulated_data/simplified_wide_df_with_date_loc.csv')