In [38]:
import pandas as pd

In [57]:
df = pd.read_csv('/Users/kaitlinsinger/wa_notify/DEN_future/data_extraction/output/combined_data.csv')

In [58]:
# any addt cleaning here
df['param_name'] = df['param_name'].str.replace('case', 'cases')
df['param_name'] = df['param_name'].str.replace('casess', 'cases')
df['param_name'] = df['param_name'].str.replace('contact', 'contacts')
df['param_name'] = df['param_name'].str.replace('contactss', 'contacts')
df['param_name'] = df['param_name'].str.replace('total', 'count')
df['param_name'] = df['param_name'].str.replace('avg', 'mean')
df['param_name'] = df['param_name'].str.replace('median', 'med')

In [59]:
df['param_name']

0             staff_hired_ci_count
1             staff_hired_ci_count
2             staff_hired_ci_count
3             staff_hired_ci_count
4             staff_hired_ci_count
                   ...
1144     contacts_named_ratio_mean
1145    cases_named_contacts_count
1146    cases_named_contacts_count
1147       percent_naming_contacts
1148          contacts_named_count
Name: param_name, Length: 1149, dtype: object

In [60]:
# Reshape so each source has multiple rows with separate columns for parameters and dates
df_wide_no_dates = df.pivot_table(index="source", columns="param_name", values="param_value", 
                                  aggfunc="first").reset_index()
df_wide_dates = df.pivot_table(index=["source", "pm_start_date", "pm_end_date"], 
                    columns="param_name", values="param_value", aggfunc="first").reset_index()
df_wide_dates_loc = df.pivot_table(index=["source", "pm_start_date", "pm_end_date", "pm_location"], 
                    columns="param_name", values="param_value").reset_index()

In [61]:
df_wide_dates.head()

param_name,source,pm_start_date,pm_end_date,cases_assigned_count,cases_interviewed_count,cases_interviewed_perc,cases_named_contacts_count,cases_not_assigned_count,cases_per_staff_month,cases_positive_from_test_mean,...,num_users_upper_bound,percent_naming_contacts,quarantine_adherent_perc,staff_hired_ci_count,staff_hired_ci_per_health_dept_mean,staff_hired_count,staff_hired_ct_count,staff_hired_ct_per_health_dept_mean,user_cases_notifying,users_with_code
0,A Multifaceted Evaluation of a COVID-19 Contac...,3/1/21,3/31/21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A Multifaceted Evaluation of a COVID-19 Contac...,4/1/21,6/30/20,NaN,NaN,76.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A Multifaceted Evaluation of a COVID-19 Contac...,7/1/20,6/30/21,52317.0,42900.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A Multifaceted Evaluation of a COVID-19 Contac...,7/1/20,9/30/20,NaN,NaN,87.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A Patient-Initiated Digital COVID-19 Contact N...,5/18/20,8/17/20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df_wide_no_dates.to_csv('/Users/kaitlinsinger/wa_notify/DEN_future/data_extraction/manipulated_data/simplified_wide_df.csv')
df_wide_dates.to_csv('/Users/kaitlinsinger/wa_notify/DEN_future/data_extraction/manipulated_data/simplified_wide_df_with_date.csv')
df_wide_dates_loc.to_csv('/Users/kaitlinsinger/wa_notify/DEN_future/data_extraction/manipulated_data/simplified_wide_df_with_date_loc.csv')